{% extends "network/layout.html" %}

{% load static %}

{% block body %}

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
<script src="{% static 'network/functions.js' %}"></script>

{% endblock %}


<div id="newpostview">
    {% if user.is_authenticated %}
    <div id="newpost" class="container border col-11 my-2">
        <h3>New Post</h3>
        <form id="postform">
            <textarea class="textarea" id="bodyform"></textarea>
            <input type="submit" class="buttonsubmit" style="margin: 10px" value="Post" />
        </form>
    </div>
    {% endif %}
</div>

<div id="postsview">
</div>

<div id="userview"> User View
</div>

<div id="pagination">
    <div class="containerdivpagination">
        <div class="divpagination" id="pages"></div>
    </div>
</div>



{% endblock %}