{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-AU-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Social Network{% endblock %}</title>
    <link href="{% static 'network/templates.css' %}" rel="stylesheet">
    <link href="{% static 'network/main.css' %}" rel="stylesheet">
    <link href="{% static 'network/navbar.css' %}" rel="stylesheet">
    <script defer src="{% static 'network/app.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="maincontainer">
        <header class="topheader">
            <nav class="topnav">
                <a href="{% url 'network' %}" class="logo" id="network">

                    <img src="{% static 'network/media/bird.svg' %}" alt="home" height="30px" />

                    <img src="{% static 'network/media/logotexto.png' %}" alt="home" height="50px" />
                </a>
                <button class="open-menu" aria-label="Open menu">
                    <img src="{% static 'network/media/hamburger-icon.svg' %}" alt="abrir menú" height="20px" />
                </button>
                <ul class="menu">
                    <button class="close-menu" aria-label="Close menu">
                        <img src="{% static 'network/media/close-icon.svg' %}" alt="cerrar menú" />
                    </button>
                    {% if user.is_authenticated %}
                    <li>
                        <a id="nametitle"><strong>{{user.username}}</strong></a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'allposts' %}" id="allposts">ALL POSTS</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#" id="following">FOLLOWING</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">LOG OUT</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">LOG IN</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">REGISTER</a>
                    </li>
                    <li>
                        <a style="width: 100px;"></a>
                    </li>
                    {% endif %}
                </ul>

            </nav>
        </header>

        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a href="{% url 'network' %}" class="nav-link" id="network">
                    
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="lightblue" class="bi bi-twitter" viewBox="0 0 16 16">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                      </svg>
                    
                    </a>
                    <a href="{% url 'network' %}"><img src="{% static "network/media/logotexto.png" %}" alt="home" height="40px"/></a>
                    
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center me-5" id="navbarSupportedContent"> 
                        <ul class="navbar-nav ">
                          {% if user.is_authenticated %}
                              <li class="nav-item">
                                  <a class="nav-link fw-bolder" id="nametitle"><strong>{{user.username}}</strong></a>
                              </li>
                          {% endif %}
                          <li class="nav-item">
                            <a href="{% url 'allposts' %}" class="nav-link fw-bolder" id="allposts">ALL POSTS</a>
                          </li>
                          {% if user.is_authenticated %}
                              <li class="nav-item">
                                  <a href="#" class="nav-link fw-bolder" id="following">FOLLOWING</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link fw-bolder" href="{% url 'logout' %}">LOG OUT</a>
                              </li>
                          {% else %}
                              <li class="nav-item">
                                  <a class="nav-link fw-bolder" href="{% url 'login' %}">LOG IN</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link fw-bolder" href="{% url 'register' %}">REGISTER</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link fw-bolder" style="width: 100px;"></a>
                            </li>
                          {% endif %}
                        </ul>
                    </div>
                </div>
            </nav> -->

        <section id="bodysection">
            <div class="divbody">
                {% block body %}
                {% endblock %}
            </div>
        </section>

    </div>

    <footer>
        <div class="container">
            <p>&copy; Santiago Ortiz Basualdo</p>
        </div>
    </footer>

</body>

</html>